<!DOCTYPE html>
<html lang="en" ng-app="events">
<head>
    <meta charset="UTF-8">
    <title>Handling Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div ng-controller="EventController as ctrl"> 
       <!-- <button 
        ng-mouseenter="ctrl.setColor('red')" 
        ng-mouseleave="ctrl.setColor('yellow')" 
        ng-click="ctrl.greet($event)"
        ng-style="ctrl.style()">
            Click here
        </button> -->

        <!-- <input type="text" 
        ng-change="ctrl.greet($event)" ng-model="ctrl.color"> -->

        <!-- <input type="text" 
        ng-keypress="ctrl.greet($event)" ng-model="ctrl.color"> -->
    </div>

  
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js" integrity="sha512-G3f4ozX321Jq60/AqV9lggSZsrl8IVsxwi9z/ww1/DkV4rTczx/DLkufIl48VgRdzDYadFBSGJGXptGS1XM0Qw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="src/app.js"></script>
</body>
</html>